.w3-bebas{
    font-family: 'Bebas Neue', cursive;
  }
  
  .w3-user{
    font-family: 'Bebas Neue', cursive;
    padding: 2px 10px;
  }
  
  input[name=search]{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 2px 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-family:'Bebas Neue', cursive;
  }
  
  ::placeholder{
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text][name=search]:focus {
  width: 30%;
  }