<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- holds a space for the titles given in other templates -->
        <title>{% block title %} {% endblock %}</title>

        <!-- W3 CSS link -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- style.css link -->
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
        <!-- icon Link-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- font link -->
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
        <!-- favicon icon link -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='styles/favicon.ico') }}">
    </head>

    <body>
        <!-- css to clarify being the nav center -->
        <nav class="w3-top">
            <div class="w3-container w3-bar w3-bebas w3-wide w3-padding w3-card w3-blue" style="font-size: 30px">
                <!-- references to the index.html and holds the website name -->
                <a href="{{url_for('index')}}" class="w3-bar-item w3-button w3-hover-white">
                    <img src="{{ url_for('static',filename='styles/logo.png') }}" alt="Playersforge Logo" style="width: 100px">
                    <b>Players</b>Forge
                </a>
                <!-- holds and styles the other navigation buttons -->
                <em class="fa fa-fw fa-search"></em><input style="margin-top: 10px" type="text" name="search" placeholder="Search...">
                <div class="w3-right" style="padding-top: 3px">
                    <a href="{{url_for('mods')}}" class="w3-bar-item w3-button w3-hover-white">
                        <em class="fa fa-fw fa-gamepad"></em> 
                        Mods
                    </a>
                    <a href="{{url_for('forums')}}" class="w3-bar-item w3-button w3-hover-white">
                        <em class="fa fa-fw fa-sticky-note"></em> 
                        Forums
                    </a>

                    <!-- checks if a user is signed in -->
                    <!-- if so, show 'Profile', if not, show 'Login' -->
                    {% if current_user.is_authenticated %}
                        <!-- direct to profile route -->
                        <a href="{{url_for('profile')}}" class="w3-bar-item w3-button w3-hover-white">
                            <em class="fa fa-fw fa-user"></em> 
                            Profile
                        </a>
                        <!-- direct to profile route -->
                        <a href="{{url_for('logout')}}" class="w3-bar-item w3-button w3-hover-white">
                            <em class="fa fa-fw fa-sign-out"></em> 
                            Logout
                        </a>
                    {% else %}
                        <!-- direct to login route -->
                        <a href="{{url_for('login')}}" class="w3-bar-item w3-button w3-hover-white">
                            <em class="fa fa-fw fa-user"></em> 
                            Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- creates space for the body details -->
        {% block body %} 

        {% endblock %}
    </body>
</html>