{% extends 'base.html' %}

{% block title %} PlayersForge - Home {% endblock %}

{% block body %} 

<!-- some css for main page content -->
<div class="w3-content w3-padding w3-center" style="max-width:1564px">
        
    <!-- holds the top label of the page -->
    <div class="w3-container" id="featured-mods">
        <h3 class="w3-bebas w3-border-bottom w3-border-light-grey" style="padding-top: 100px; padding-bottom: 30px; font-size: 40px">Forums</h3>
    </div>
</div>

{% endblock %}