<!-- extends the base.html stuff -->
{% extends 'base.html' %}

<!-- changes the page title to home -->
{% block title %} PlayersForge - Home {% endblock %}

<!-- starts extension body -->
{% block body %} 

<!-- some css for main page content -->
<div class="w3-content w3-padding w3-center" style="max-width:1564px">
        
    <!-- holds the top label of the page -->
    <div class="w3-container">
        <h3 class="w3-bebas w3-border-bottom w3-border-light-grey" style="padding-top: 100px; padding-bottom: 30px; font-size: 40px">Log In</h3>
    </div>

    <!-- contains the signup box -->
    <div class="w3-container" style="padding-top: 50px">
        <div class="w3-container w3-bebas w3-center w3-blue w3-card-4" style="height: 450px; width: 400px;margin: auto">
            <div class="w3-container w3-bebas w3-center w3-blue" style="margin: auto">
                <p class="w3-border-bottom w3-border-light-grey w3-border-black w3-blue" style="text-decoration: none; padding: 30px">
                    <a href="/signup" style="text-decoration: none; font-size: 25px">Want to sign up instead?</a>
                </p>
            </div>
            <div class="w3-display-container w3-bebas w3-center w3-blue" style="margin: auto">
                <form action="" method="post">
                    <h3 class="w3-bebas">Log in</h3>
                    <!-- something that helps with keeping data -->
                    {{ form.csrf_token }}
                    <!-- assigns whatever user inputs into RegisterForm data email, username, and password -->
                    <p>Email<br>{{ form.email }}</p>
                    <p>Password<br>{{ form.password }}</p>
                    <input class="w3-button w3-white" type="submit" name="submit" value="Login">
                    {% if error %} 
                    <p>{{error}}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ends extension body-->
{% endblock %}