[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
python-dotenv = "*"
flask-login = "*"
sqlalchemy = "*"
flask-testing = "*"
coverage = "*"
csrf = "*"

[dev-packages]

[requires]
python_version = "3.9"
