* {
	box-sizing: border-box;
}

.header {
	text-align: center;
	background-color: black;
	padding: 20px;
}

a {
	text-decoration: none;
	color: black;
	margin: 20px;
}

.header a {
	text-decoration: none;
	color: white;
}

.navigation{
	border: 2px solid black;
	text-align: center;
}

h2 {
	text-align: center;
	margin: 50px;
}
